@model SMSAppv2.Models.Departments

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Departments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Short_name" class="control-label"></label>
                <input asp-for="Short_name" class="form-control" />
                <span asp-validation-for="Short_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createdBy" class="control-label"></label>
                <input asp-for="createdBy" class="form-control" />
                <span asp-validation-for="createdBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createdAt" class="control-label"></label>
                <input asp-for="createdAt" class="form-control" />
                <span asp-validation-for="createdAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="editedBy" class="control-label"></label>
                <input asp-for="editedBy" class="form-control" />
                <span asp-validation-for="editedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="editedAt" class="control-label"></label>
                <input asp-for="editedAt" class="form-control" />
                <span asp-validation-for="editedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deletedBy" class="control-label"></label>
                <input asp-for="deletedBy" class="form-control" />
                <span asp-validation-for="deletedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deletedAt" class="control-label"></label>
                <input asp-for="deletedAt" class="form-control" />
                <span asp-validation-for="deletedAt" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isDeleted" /> @Html.DisplayNameFor(model => model.isDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
