
@{
    ViewData["Title"] = "Demo";
}

<h1>Demo</h1>
@section Scripts{
   <script>
     $(document).ready(function() {
            $.get('/api/departments', function(result) {
                console.log(result);
            });
     });
  </script>
    
    }

