@model SMSAppv2.Models.Departments
@{
    ViewData["Title"] = "Form";
}

<h1>Form</h1>
<div class="container ">
    <div class="row d-flex justify-content-center ">
        <div class="col-md-7">
            <div class="card shadow-lg">
                <div class="card-header">
                    <h4>Register Now</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Short_name" class="control-label"></label>
                                    <input asp-for="Short_name" class="form-control" />
                                    <span asp-validation-for="Short_name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Code" class="control-label"></label>
                                    <input asp-for="Code" class="form-control" />
                                    <span asp-validation-for="Code" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="createdAt" class="control-label"></label>
                                    <input asp-for="createdAt" class="form-control" />
                                    <span asp-validation-for="createdAt" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <a class="btn btn-success" id="btnrefresh">Refresh</a>
                                    <input type="button" id="btnSubmit" value="Submit" class="btn btn-primary" />
                                    @* <a class="btn btn-danger" asp-action="Index">Back to List</a> *@
                                    <a class="btn btn-danger" href="/Department2/List">Back to List</a>

                                    <input asp-for="Id" type="hidden" />
                                </div>
                            </div>
                            <div class="col-md-3"></div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row shadow-lg mt-3">
    <div class="col-md-12">
        <table id="listTable" class="table table-hover ">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Short Name</th>
                    <th>Code</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Department Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th width="30%"></th>
                                        <th width="5%"></th>
                                        <th width="65%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Name</th>
                                        <th>:</th>
                                        <th><label id="lblName"></label></th>
                                    </tr>
                                    <tr>
                                        <th>Serial Name</th>
                                        <th>:</th>
                                        <th><label id="lblSName"></label></th>
                                    </tr>
                                    <tr>
                                        <th>Code</th>
                                        <th>:</th>
                                        <th><label id="lblCode"></label></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

@section Styles {
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script>
       
        $(document).ready(function(){
            var urlVar=getUrlVars();
            var id=urlVar["id"];
            if(id>0){
                getData(id);
            }
            loadTable();
        });

         function loadTable(){
             $('#listTable').DataTable().clear().destroy();
              $('#listTable').DataTable({
                 ordering:false,
                ajax : {
                    url: '/api/Departments/GetHistory',
                    dataSrc: ""
                },
                columns: [
                    {data: 'name'},
                    {data: 'short_name'},
                    {data: 'code'},
                    {
                        data: 'id',
                        render: function(data){
                            return "<div class='btn-group'> "+
                              "<a  class='btn btn-success js-details' data-id="+data+" onclick='openModal()'><i class='fa-solid fa-eye'></i></a>"+
                            "<a  class='btn btn-info js-edit' data-id="+data+"><i class='fa-solid fa-pen-to-square'></i></a>"+
                            "<a class='btn btn-danger js-delete' data-id="+data+"><i class='fa-solid fa-trash-can'></i></a>"+
                            "</div>";
                        }
                    }
                ]
            });
        }


        $(document.body).on("click", "#btnSubmit", function(e){
                   var dto = {};
                   dto.Name = $("#Name").val();
                   dto.Short_name = $("#Short_name").val();  // corrected
                   dto.Code = $("#Code").val();
                   dto.createdAt = $("#createdAt").val();

                    var id=$("#Id").val();

            if(id>0){
                //update
                dto.id=Number(id);
                var jsonString=JSON.stringify(dto);
          

                $.ajax({
                    type: "PUT",
                    url: "/api/Departments/"+id,
                    data: jsonString,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response){
                        pageRefresh();
                        toastr.success("Data successfully updated");
                        loadTable();
                    },
                      error: function(xhr){
                            console.error("Error response:", xhr);
                            toastr.error(xhr.responseText || "An error occurred", "ERROR");
        }

                });

            }else{
                //save
                //    var jsonString=JSON.stringify(dto);
                // $.ajax({
                //     type: "POST",
                //     url: "/api/Departments",
                //     data: jsonString,
                //     contentType: "application/json; charset=utf-8",
                //     dataType: "json",
                //     success: function(response){
                //         pageRefresh();
                //         toastr.success("Data successfully saved");
                //     },
                //     failure: function(response){
                //         toastr.error(response, "ERROR");
                //     }
                // });

                //save-2

                 var jsonString=JSON.stringify(dto);
                $.ajax({
                    type: "POST",
                    url: "/api/Departments",
                    data: jsonString,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response){
                        pageRefresh();
                        toastr.success("Data successfully saved");
                        loadTable();
                    },
                    failure: function(response){
                        toastr.error(response, "ERROR");
                    }
                });

            }
        });

        function getData(id){
            $.get("/api/Departments/"+id, function(result){
                $("#Id").val(result.id);
                $("#Name").val(result.name);
                $("#Short_name").val(result.short_name);
                $("#Code").val(result.code);
                $("#createdAt").val(result.createdAt);
            });
        }

        // this is code for edit without page refresh
           $(document.body).on("click",".js-edit", function(e){
                var button = $(this);
                var id = button.attr("data-id");
                getData(id);
        });
        //This is code for Delete data from table
         $(document.body).on("click", ".js-delete", function(e){
            var button=$(this);
            var id=button.attr("data-id");
            bootbox.confirm("Are your sure to delete the data?",
                function(result){
                    if(result){
                        $.ajax({
                            url: "/api/Departments/"+id,
                            method: "DELETE",
                            success: function(){
                                toastr.success("Data delete successful");

                                // Properly remove the row from DataTable
                                var table = $("#listTable").DataTable();
                                table.row(button.parents("tr")).remove().draw(false);
                                loadTable();
                            },
                            error: function(request, status, error){
                                var response = jQuery.parseJSON(request.responseText);
                                toastr.error(response.message || "An error occurred", "Error");
                            }
                        });
                    }
                }
            );
        });

        function pageRefresh(){
            $("#Id").val("");
            $("#Name").val("");
            $("#Short_name").val("");
            $("#Code").val("");
            $("#createdAt").val("");
        }

        $(document).ready(function() {
          $('#btnrefresh').click(function() {
            //code here for refresh button
             $("#Id").val("");
            $("#Name").val("");
            $("#Short_name").val("");
            $("#Code").val("");
            // $("#createdAt").val("");
          });
        });
        //Modal Data Show

            $(document.body).on("click",".js-details", function(e){
                  var button = $(this);
                  var id = button.attr("data-id");
                  $.get("/api/Departments/"+id, function(result){
                  // $("#Id").val(result.id);
                  $("#lblName").text(result.name);
                  $("#lblSName").text(result.short_name);
                  $("#lblCode").text(result.code);

                  // $("#createdAt").val(result.createdAt);
              });

          });
        //Modal Show
      function openModal() {
          var myModal = new bootstrap.Modal(document.getElementById('myModal'));
          myModal.show();
        }


    </script>
}


